story_gen_strategy_two/Creacion_de _historia_multi_actos.json
{
  "name": "Story_Generator_Strategy_Two",
  "nodes": [
    {
      "parameters": {},
      "id": "7c3ec8fe-b60e-4bce-ab55-eae2b770e11b",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        64,
        272
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "story_id",
              "value": "historia_001"
            }
          ],
          "number": [
            {
              "name": "actos_totales",
              "value": 5
            }
          ]
        },
        "options": {}
      },
      "id": "7fdcaa5d-2e4d-43e1-9b12-4e9586e4fb62",
      "name": "Set Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        224,
        272
      ]
    },
    {
      "parameters": {
        "jsCode": "const total = $json.actos_totales;\nlet items = [];\nfor (let i = 1; i <= total; i++) {\n  items.push({ acto_numero: i, story_id: $json.story_id });\n}\nreturn items;"
      },
      "id": "11e53d6e-ec8b-4fb6-a911-cc892a8ac351",
      "name": "Crear Lista Actos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        272
      ]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "dc4a101d-9aac-4b7a-863d-6fb25ffe940e",
      "name": "Split In Batches",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        576,
        272
      ]
    },
    {
      "parameters": {
        "filePath": "/home/node/.n8n-files/prompts/system_prompt.md"
      },
      "id": "3e3cfa50-afb9-419c-98b0-8c525c7d2625",
      "name": "Read System Prompt",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        816,
        32
      ]
    },
    {
      "parameters": {
        "filePath": "/home/node/.n8n-files/prompts/story_config.md"
      },
      "id": "72c8a325-5d21-4aa9-a424-680c8a1d7ddf",
      "name": "Read Story Config",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        816,
        256
      ]
    },
    {
      "parameters": {
        "filePath": "=/home/node/.n8n-files/prompts/historias/{{$json.story_id}}/acto_{{$json.acto_numero -1}}_resumen.md"
      },
      "id": "3721dd2f-df3f-467e-87be-15c56dff4920",
      "name": "Read Previous Summary",
      "type": "n8n-nodes-base.readBinaryFile",
      "typeVersion": 1,
      "position": [
        768,
        496
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "let system_prompt = '';\nlet story_config = '';\nlet previous_summary = '';\n\n// Recorrer todos los items del Merge (Append)\nfor (const item of $input.all()) {\n\n  const data = item.json.data;       // para system y config\n  const content = item.json.content; // para resumen\n\n  if (data) {\n    // Detectar cuál es cuál por contenido\n    if (data.includes('REGLAS OBLIGATORIAS')) {\n      system_prompt = data;\n    } else if (data.includes('# CONFIGURACIÓN GLOBAL')) {\n      story_config = data;\n    }\n  }\n\n  if (content !== undefined) {\n    previous_summary = content;\n  }\n}\n\n// Obtener datos del Split\nconst splitItem = $items(\"Split In Batches\")[0].json;\nconst acto_numero = splitItem.acto_numero;\nconst story_id = splitItem.story_id;\n\n// Construcción del prompt\nlet prompt = `\n${story_config}\n`;\n\nif (previous_summary) {\n  prompt += `\n==============================\nESTADO ACTUAL DE LA HISTORIA\n==============================\n${previous_summary}\n\nREGLAS ESTRICTAS:\n- No cambies nombres ni edades.\n- No introduzcas nuevos protagonistas.\n- No redescubras eventos ya ocurridos.\n- No contradigas eventos acumulados.\n- Si la tumba ya fue descubierta, no puede volver a descubrirse.\n- Continúa exactamente desde el estado actual.\n`;\n}\n\nprompt += `\n==============================\nINSTRUCCIÓN\n==============================\nGenera el Acto ${acto_numero}.\nNo resuelvas la historia si no es el último acto.\nEscala la tensión progresivamente.\n`;\n\nreturn [{\n  json: {\n    acto_numero,\n    story_id,\n    prompt,\n    system_prompt\n  }\n}];\n"
      },
      "id": "4605c7e9-8a87-4235-8a0e-ab8d9f89ab57",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1616,
        288
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { model: \"llama3.1:8b\", \n  system: $json.system_prompt, \n  prompt: $json.prompt, \n  stream: false,\n  temperature: 0.6\n} }}",
        "options": {}
      },
      "id": "76b83429-582c-48a9-91d4-e998b2d536a8",
      "name": "Generate Act",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1808,
        320
      ],
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "fileName": "=/home/node/.n8n-files/prompts/historias/{{$json.story_id}}/acto_{{$json.acto_numero}}.md",
        "options": {}
      },
      "id": "8b43b48b-7971-441f-b370-05f48d9981b6",
      "name": "Save Act",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        2224,
        400
      ]
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1440,
        240
      ],
      "id": "228304b7-fb0a-434c-876f-609db3e88f36",
      "name": "Merge"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "627bb127-d22c-470b-aeb6-147d76298bb9",
              "leftValue": "={{ $binary && $binary.data }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        976,
        496
      ],
      "id": "38f79685-4c0b-40bc-ade4-1842aba9fe26",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3d823511-f89d-419c-8dee-b175236206f1",
              "name": "content",
              "value": "",
              "type": "string"
            },
            {
              "id": "6ac9ab30-9f0a-46a9-9c70-0752ee952161",
              "name": "filename",
              "value": "no_summary",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1184,
        592
      ],
      "id": "dc195b14-f7b8-4e85-be08-25587ced7ade",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2832,
        528
      ],
      "id": "e1168358-f81b-4bba-961d-205bb76538fb",
      "name": "Generate Summary"
    },
    {
      "parameters": {
        "jsCode": "const split = $items(\"Split In Batches\")[0].json;\nconst story_config = $items(\"Story_prompt\")[0].json.data;\nconst system_prompt = $items(\"System_prompt\")[0].json.data;\n\nconst acto = String($json.data || '');\nconst previous_summary =\n  $items(\"Read Previous Summary\")[0]?.json?.data || '';\n\nconst body = {\n  model: \"llama3.1:8b\",\n  stream: false,\n  system: system_prompt,\n  prompt: `\n${story_config}\n\n==============================\nESTADO ANTERIOR (NO MODIFICAR IDENTIDAD)\n==============================\n${previous_summary}\n\n==============================\nINSTRUCCIONES OBLIGATORIAS\n==============================\n1. NO cambies nombres.\n2. NO cambies edades.\n3. NO elimines personajes existentes.\n4. NO re-narres actos anteriores.\n5. NO borres eventos previos.\n6. SOLO actualiza el estado agregando lo ocurrido en este acto.\n\nSi modificas identidad fija, el resultado es inválido.\n\nDevuelve SOLO esta estructura:\n\nIDENTIDAD FIJA:\n(listado exacto)\n\nEVENTOS ACUMULADOS:\n(lista numerada acumulativa)\n\nESTADO ACTUAL DEL PROTAGONISTA:\n(descripción breve)\n\n==============================\nACTO NUEVO\n==============================\n${acto}\n`\n};\n\nreturn [{\n  json: {\n    acto_numero: split.acto_numero,\n    story_id: split.story_id,\n    ...body\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2624,
        496
      ],
      "id": "1e8a4533-7e99-4fb5-b42d-e7baec4a91e7",
      "name": "Build Summary prompt"
    },
    {
      "parameters": {
        "jsCode": "const text = $json.response || '';\n\n// Recuperar datos del nodo Build Prompt\nconst buildData = $items(\"Build Prompt\")[0].json;\n\nconst acto_numero = buildData.acto_numero;\nconst story_id = buildData.story_id;\n\nreturn [{\n  json: {\n    acto_numero,\n    story_id\n  },\n  binary: {\n    data: {\n      data: Buffer.from(text, 'utf8').toString('base64'),\n      mimeType: 'text/markdown',\n      fileName: `acto_${acto_numero}.md`\n    }\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2016,
        352
      ],
      "id": "53e0180e-ff12-4276-8aca-0eef838b4755",
      "name": "Write file acto md"
    },
    {
      "parameters": {
        "jsCode": "const text = $json.response || '';\n\n// Traemos datos desde el nodo anterior al HTTP\nconst previous = $items(\"Build Prompt\")[0].json;\n\nconst acto_numero = previous.acto_numero;\nconst story_id = previous.story_id;\n\nreturn [{\n  json: {  \n    acto_numero,\n    story_id\n  },\n  binary: {\n    data: {\n      data: Buffer.from(text, 'utf8').toString('base64'),\n      mimeType: 'text/markdown',\n      fileName: `acto_${acto_numero}_resumen.md`\n    }\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3040,
        576
      ],
      "id": "e09aec0e-db20-46d3-8efe-5e76b737665b",
      "name": "Write file summary md"
    },
    {
      "parameters": {
        "fileName": "=/home/node/.n8n-files/prompts/historias/{{$json.story_id}}/summary_{{$json.acto_numero}}.md",
        "options": {}
      },
      "id": "ee91b612-d8a5-489d-a64d-43f5cde293eb",
      "name": "Save Summary",
      "type": "n8n-nodes-base.writeBinaryFile",
      "typeVersion": 1,
      "position": [
        3232,
        608
      ]
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        1024,
        32
      ],
      "id": "a56f5b92-4d04-42f8-8ddd-6a5b15b287d6",
      "name": "System_prompt"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        1024,
        256
      ],
      "id": "dff1f731-894b-45e5-ae1a-e9490d3f202f",
      "name": "Story_prompt"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        1184,
        416
      ],
      "id": "6efacc74-100e-4bdf-af02-7497435ac685",
      "name": "Summery_data"
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        2432,
        448
      ],
      "id": "7296050e-d047-4f3d-968d-288fe2f48611",
      "name": "Acto_data"
    }
  ],
  "pinData": {},
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Config": {
      "main": [
        [
          {
            "node": "Crear Lista Actos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Crear Lista Actos": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches": {
      "main": [
        [
          {
            "node": "Read System Prompt",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Story Config",
            "type": "main",
            "index": 0
          },
          {
            "node": "Read Previous Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read System Prompt": {
      "main": [
        [
          {
            "node": "System_prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Story Config": {
      "main": [
        [
          {
            "node": "Story_prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Previous Summary": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt": {
      "main": [
        [
          {
            "node": "Generate Act",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Act": {
      "main": [
        [
          {
            "node": "Write file acto md",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Summery_data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Save Act": {
      "main": [
        [
          {
            "node": "Acto_data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Summary": {
      "main": [
        [
          {
            "node": "Write file summary md",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Summary prompt": {
      "main": [
        [
          {
            "node": "Generate Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write file acto md": {
      "main": [
        [
          {
            "node": "Save Act",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write file summary md": {
      "main": [
        [
          {
            "node": "Save Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Summary": {
      "main": [
        [
          {
            "node": "Split In Batches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "System_prompt": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Story_prompt": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Summery_data": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Acto_data": {
      "main": [
        [
          {
            "node": "Build Summary prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "581dc414-b7c0-4d96-8e21-aaf046490dd8",
  "meta": {
    "instanceId": "1a272ffd7ba91a5e4b195eedad20bb200dae7e71c15e5f43a3efc2f9e36224ac"
  },
  "id": "dfX0iQ9NfCrgvWTJ",
  "tags": []
}