flujos_n8n/short_distance_narrative.json
{
  "name": "long_distance_narrative",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -720,
        -304
      ],
      "id": "69105124-d5c1-4b39-aeb7-ec29ac27d805",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "model": "gemma2:9b",
        "options": {
          "temperature": 0.6,
          "topP": 0.9,
          "keepAlive": "30m",
          "lowVram": false,
          "numCtx": 4096,
          "numGpu": -1,
          "numPredict": 1200,
          "numThread": 6,
          "repeatPenalty": 1.15
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        304,
        336
      ],
      "id": "3cc72519-c324-4bb0-94d1-646421f16687",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "pme8Qn9prOFIVslx",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/home/node/.n8n-files/archivos/historias_generadas/{{$binary.data.fileName}}",
        "options": {
          "append": false
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        1664,
        -80
      ],
      "id": "07ccfc69-35e3-4066-a1aa-187da97d274e",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "md_text",
        "options": {
          "fileName": "={{ $json.nombre_archivo }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1488,
        -80
      ],
      "id": "69729537-f84c-4df4-8e19-b35a1ffbba68",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "model": "gemma2:9b",
        "options": {
          "temperature": 0.3,
          "topP": 0.8
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        976,
        336
      ],
      "id": "5c4895e9-7067-4802-8920-36e0b0bca35e",
      "name": "Ollama Chat Model1",
      "credentials": {
        "ollamaApi": {
          "id": "pme8Qn9prOFIVslx",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Resumir el siguiente acto en 80-100 palabras como párrafo coherente en tercera persona. Enfócate SOLO en:\n\n- Escenarios clave: Describe brevemente lugares y cambios en el entorno (e.g., \"pasillo oscuro del tercer piso, luces parpadeando\").\n- Sucesos clave: Eventos principales y progresión (e.g., \"protagonista investiga, ve la sombra de cerca\").\n- Emociones y estado del protagonista: Evolución escéptica (e.g., \"pasa de duda a pánico sutil\").\n- Pendientes/cliffhanger: Elementos sin resolver para el próximo acto (e.g., \"puertas cerradas, presencia acechando\").\n\nReglas obligatorias:\n- Varía lenguaje: Usa sinónimos y frases nuevas; no repitas palabras del texto original (e.g., en vez de \"sombra borrosa\", di \"figura nebulosa\").\n- No agregues ni interpretes; condensa lo existente.\n- Alinea con arco en W: Resalta picos/bajadas de tensión y cómo avanza el terror.\n- Mantén tono neutral y objetivo, sin metáforas.\n- Incluye transiciones clave: Resalta cómo termina el acto y qué pendiente deja para el siguiente (e.g., \"termina con el protagonista decidiendo investigar, dejando pendiente la puerta cerrada\").\n\nCONTEXTO DE LA HISTORIA:\n{{ $('build_prompt').item.json.story_context }}\nTEXTO DEL ACTO A RESUMIR:\n{{ $json.text }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        656,
        144
      ],
      "id": "d3cfb4d1-9f3c-46d2-a05a-e55b7f601352",
      "name": "summarize_act"
    },
    {
      "parameters": {
        "model": "mistral:latest",
        "options": {
          "temperature": 0.5,
          "topP": 0.9,
          "lowVram": false,
          "numCtx": 8192,
          "numPredict": 1200,
          "repeatPenalty": 1.15
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        640,
        336
      ],
      "id": "3a4e58af-f7bd-414a-950a-80f91262670f",
      "name": "Ollama Chat Model2",
      "credentials": {
        "ollamaApi": {
          "id": "pme8Qn9prOFIVslx",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "0023fa46-b45b-4045-b297-de49b660774e",
              "name": "story_name",
              "value": "El otro pueblo",
              "type": "string"
            },
            {
              "id": "359e925c-4f48-4118-b2f8-cd4b81f1abb3",
              "name": "total_acts",
              "value": 5,
              "type": "number"
            },
            {
              "id": "0b0590f5-154b-4edc-be7c-96423749e534",
              "name": "system_prompt_file",
              "value": "system_prompt.md",
              "type": "string"
            },
            {
              "id": "69495e37-5ef3-4aa0-bbd1-ecce27e70256",
              "name": "story_prompt_file",
              "value": "el_otro_pueblo.md",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -512,
        -304
      ],
      "id": "74dd07f1-73b2-40f7-b42e-5393b350da8f",
      "name": "valores_manuales"
    },
    {
      "parameters": {
        "fileSelector": "=/home/node/.n8n-files/archivos/prompts_generacion/{{ $json.system_prompt_file }}",
        "options": {
          "dataPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        16,
        -576
      ],
      "id": "8a6e9390-743f-4009-8ab8-d660b63dd207",
      "name": "read_system_prompt",
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "fileSelector": "=/home/node/.n8n-files/archivos/prompts_generacion/{{ $json.story_prompt_file }}",
        "options": {
          "dataPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        16,
        -400
      ],
      "id": "4fcae822-2fa5-48d9-950e-9d2f0cd93175",
      "name": "read_story_prompt",
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        320,
        144
      ],
      "id": "01ff7003-fed4-461f-8a28-1b16bff6c0a2",
      "name": "gen_act"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Reglas:\n- Máximo 180 palabras.\n- No escribir como relato.\n- No usar estilo literario.\n- No agregar nada nuevo.\n- Solo hechos confirmados en el texto.\n\nFormato obligatorio:\nUBICACIÓN ACTUAL:\nPERSONAJES PRESENTES:\nHECHOS IMPORTANTES:\nOBJETOS RELEVANTES:\nCAMBIOS EN EL ENTORNO:\nESTADO EMOCIONAL DEL PROTAGONISTA:\n\nACTO:\n{{ $('gen_act').item.json.text }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        992,
        144
      ],
      "id": "905a4ded-f2a7-4b94-8792-a6dcbe4fa49a",
      "name": "gen_memory"
    },
    {
      "parameters": {
        "jsCode": "//const item = $input.first().json;\nconst data = $json;\n\nconst context = data.story_context;\nconst mission = data.act_mission;\nconst act_number = data.act_number;\nconst arcPhase = data.arc_phase;\n\nconst memory = data.accumulated_memory || \"\";\nconst summary = data.accumulated_summary|| \"\";\n\nlet prompt = \"\";\n\nprompt += \"CONTEXTO DEL RELATO\\n\";\nprompt += context + \"\\n\\n\";\n\n// resumen solo si existe\nif (summary) {\n  prompt += \"RESUMEN DEL ACTO ANTERIOR\\n\";\n  prompt += summary + \"\\n\\n\";\n}\n\n// memoria solo si existe\nif (memory) {\n  prompt += \"MEMORIA NARRATIVA\\n\";\n  prompt += memory + \"\\n\\n\";\n}\n\nprompt += \"FASE DEL ARCO NARRATIVO\\n\";\nprompt += arcPhase + \"\\n\\n\";\n\nprompt += \"MISIÓN DEL ACTO\\n\";\nprompt += mission + \"\\n\\n\";\n\nif (act_number > 1) {\n  // aquí agregamos la regla crítica del pipeline\n  prompt += `REGLAS DE CONTINUIDAD\\n\n 1. Usa el RESUMEN DEL ACTO ANTERIOR como punto de partida narrativo.\\n\n 2. El capítulo debe comenzar inmediatamente después de ese momento.\\n\n 3. Respeta la MEMORIA NARRATIVA: contiene hechos, personajes y lugares ya  establecidos.\\n\n 4. No contradigas ni cambies información almacenada en la memoria.\\n\n 5. No reinicies la historia ni repitas escenas ya narradas.\\n\n 6. Avanza el relato desde la última situación descrita en el resumen.\\n\n  `;\n}\n\nif (act_number === 1) {\n  prompt += `\nINICIO DE LA HISTORIA\\n\nEste es el primer capítulo.\\n\nNo existe un acto anterior.\\n\nComienza la narración desde el contexto inicial descrito arriba.\\n\n`;\n}\n\nprompt += \"Escribe el capítulo siguiendo todas las instrucciones anteriores.\";\n\nreturn [\n  {\n    json: {\n      prompt\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        144,
        144
      ],
      "id": "9f9a2b3f-3d85-4c42-9da3-83126d04c62a",
      "name": "build_prompt"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nreturn items.map(item => {\n\n  const base = item.json.base_context;\n\n  return {\n    json: {\n      id_story: base.id_story,\n      story_name: base.story_name,\n\n      total_acts: base.total_acts,\n      act_number: item.json.act_number,\n      arc_phase: item.json.arc_phase,\n\n      act_mission: item.json.act_mission,\n\n      system_prompt: base.system_prompt,\n      story_context: base.story_context,\n\n      accumulated_summary: \"\",\n      accumulated_memory: \"\"\n    }\n  };\n\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -704,
        -48
      ],
      "id": "9cf8bd54-6892-4286-87e0-82f1de590155",
      "name": "prepare_items"
    },
    {
      "parameters": {
        "batchSize": "=1",
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -368,
        -48
      ],
      "id": "8781aa37-60d7-41ee-86d6-e40028e791da",
      "name": "Loop Over Items",
      "executeOnce": false
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT  id_story, act_number, chapter\nFROM story_acts \nWHERE id_story = '{{ $('prepare_items').item.json.id_story }}' \nORDER BY act_number ASC;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1088,
        -80
      ],
      "id": "22020e60-8d58-4a3e-91f6-895ec83fce1a",
      "name": "select_all_acts",
      "credentials": {
        "postgres": {
          "id": "9PNsceb890e5B4Zn",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst storyId = items[0].json.id_story;\n\nlet md = \"# RELATO COMPLETO\\n\\n\";\n\nitems\n  .sort((a,b) => a.json.act_number - b.json.act_number)\n  .forEach(item => {\n\n    md += \"## ACTO \" + item.json.act_number + \"\\n\\n\";\n    md += item.json.chapter + \"\\n\\n---\\n\\n\";\n\n});\n\nreturn [{\n  json: {\n    md_text: md,\n    story_id: storyId,\n    nombre_archivo: \"relato_\" + storyId + \".md\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1296,
        -80
      ],
      "id": "eb35c902-32ed-4266-8ea7-2f0309886ae8",
      "name": "persiste_cinco_capitulos"
    },
    {
      "parameters": {
        "jsCode": "const base = $input.first().json;\nconst text = base.story_prompt;\n\n// 1 separar contexto y actos\nconst [contextPart, actsPart] = text.split(/\\n---\\n/);\n\n// 2 dividir actos por encabezado\nconst sections = actsPart.split(/^\\s*\\*\\*Acto\\s+/gm).slice(1);\n\nconst actos = sections.map(section => {\n\n  // extraer numero de acto\n  const numMatch = section.match(/^(\\d+)/);\n  const act_number = numMatch ? Number(numMatch[1]) : null;\n\n  // extraer fase narrativa entre parentesis\n  const phaseMatch = section.match(/\\((.*?)\\)/);\n  const arc_phase = phaseMatch ? phaseMatch[1].trim() : null;\n\n  // remover encabezado\n  const content = section\n    .replace(/^\\d+[^\\n]*\\n?/, \"\")\n    .trim();\n\n  return {\n    json: {\n      act_number,\n      arc_phase,\n      act_mission: content,\n      base_context: {\n        id_story: base.id_story,\n        story_name: base.story_name,\n        total_acts: base.total_acts,\n        system_prompt: base.system_prompt,\n        story_context: contextPart.trim()\n      }\n    }\n  };\n\n});\n\nreturn actos;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        -288
      ],
      "id": "0b9f2fb1-d153-4b87-b99d-4385701926fe",
      "name": "parse_mission_acts"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO story_acts\n(\nid_story,\nact_number,\narc_phase,\nchapter,\nsummary,\nmemory\n)\nVALUES\n(\n'{{ $('Merge').item.json.id_story }}',\n{{ $('Merge').item.json.act_number }},\n'{{ $('Merge').item.json.arc_phase }}',\n'{{$node[\"gen_act\"].json.text}}',\n'{{$node[\"summarize_act\"].json.text}}',\n'{{$node[\"gen_memory\"].json.text}}'\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1312,
        320
      ],
      "id": "95be0635-fcef-455a-a68a-2a9a4e87d45f",
      "name": "save_act",
      "credentials": {
        "postgres": {
          "id": "9PNsceb890e5B4Zn",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  COALESCE(a.id_story, '') AS id_story,\n  COALESCE(a.summary, '') AS accumulated_summary,\n  COALESCE(a.memory, '') AS accumulated_memory\nFROM stories s\nLEFT JOIN (\n  SELECT\n    id_story,\n    summary,\n    memory\n  FROM story_acts\n  WHERE id_story = '{{ $json.id_story }}'\n  ORDER BY act_number DESC\n  LIMIT 1\n) a\nON s.id_story = a.id_story\nWHERE s.id_story = '{{ $json.id_story }}'\nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -288,
        256
      ],
      "id": "f50857c2-bf25-4981-8288-558f41e71941",
      "name": "get_story_state",
      "credentials": {
        "postgres": {
          "id": "9PNsceb890e5B4Zn",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO stories (\n  id_story,\n  story_name,\n  total_acts,\n  created_at\n)\nVALUES (\n  '{{ $json.id_story }}',\n  '{{ $json.story_name }}',\n  {{ $json.total_acts }},\n  now()\n)\nON CONFLICT (id_story) DO NOTHING\nRETURNING *;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -656,
        432
      ],
      "id": "03f0535f-551b-4e37-973d-3667ebd0c159",
      "name": "init_story",
      "credentials": {
        "postgres": {
          "id": "9PNsceb890e5B4Zn",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "687219c9-fcdb-44f9-8943-80ae03c23575",
              "name": "id_story",
              "value": "={{ $json.story_name.toLowerCase().replaceAll(\" \",\"_\") + \"_\" + Date.now() }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -320,
        -304
      ],
      "id": "f07d2c61-a5aa-410a-b097-46841b28ae97",
      "name": "valores_calculados"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        912,
        -80
      ],
      "id": "5aecbed2-624b-40f7-b4a8-42e33e44d08e",
      "name": "Limit1"
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        304,
        -304
      ],
      "id": "d0785344-319f-491c-9cf1-f287c911dddf",
      "name": "Merge_001",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nlet sistema = \"\";\nlet historia = \"\";\nlet config = {};\n\nfor (let i = 0; i < items.length; i++) {\n\n  const item = items[i];\n\n  // configuración proveniente de valores_calculados\n  if (item.json && item.json.total_acts) {\n    config = item.json;\n  }\n\n  // lectura de archivos binarios\n  if (item.binary && item.binary.data) {\n\n    const fileName = item.binary.data.fileName || \"\";\n    const buffer = await this.helpers.getBinaryDataBuffer(i, \"data\");\n    const text = buffer.toString(\"utf8\").trim();\n\n    if (fileName.includes(\"system_prompt\")) {\n      sistema = text;\n    }\n\n    if (fileName.includes(\".md\") && !fileName.includes(\"story_prompt\")) {\n      historia = text;\n    }\n  }\n}\n\nreturn [{\n  json: {\n    id_story: config.id_story,\n    story_name: config.story_name,\n    total_acts: config.total_acts,\n    system_prompt: sistema,\n    story_prompt: historia,\n    accumulated_summary: \"\",\n    accumulated_memory: \"\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        -288
      ],
      "id": "af2de0e9-cf7c-42ce-9d18-63014eee69ba",
      "name": "build_data_items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -672,
        192
      ],
      "id": "f8f0719c-38c5-4037-a9fe-1ece4b5a970c",
      "name": "Limit"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -48,
        144
      ],
      "id": "6a0457d7-7980-42f4-a856-d3fa6992b8e3",
      "name": "Merge"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "valores_manuales",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "gen_act",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "gen_memory",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "summarize_act",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "summarize_act": {
      "main": [
        [
          {
            "node": "gen_memory",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "valores_manuales": {
      "main": [
        [
          {
            "node": "valores_calculados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "read_system_prompt": {
      "main": [
        [
          {
            "node": "Merge_001",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "read_story_prompt": {
      "main": [
        [
          {
            "node": "Merge_001",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "gen_act": {
      "main": [
        [
          {
            "node": "summarize_act",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gen_memory": {
      "main": [
        [
          {
            "node": "save_act",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "build_prompt": {
      "main": [
        [
          {
            "node": "gen_act",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prepare_items": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "get_story_state",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "select_all_acts": {
      "main": [
        [
          {
            "node": "persiste_cinco_capitulos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "persiste_cinco_capitulos": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parse_mission_acts": {
      "main": [
        [
          {
            "node": "prepare_items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "save_act": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_story_state": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "init_story": {
      "main": [
        []
      ]
    },
    "valores_calculados": {
      "main": [
        [
          {
            "node": "read_system_prompt",
            "type": "main",
            "index": 0
          },
          {
            "node": "read_story_prompt",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge_001",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "select_all_acts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge_001": {
      "main": [
        [
          {
            "node": "build_data_items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "build_data_items": {
      "main": [
        [
          {
            "node": "parse_mission_acts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "init_story",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "build_prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "8ae56d5f-3ea1-4c94-9951-8ab8f6808997",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1a272ffd7ba91a5e4b195eedad20bb200dae7e71c15e5f43a3efc2f9e36224ac"
  },
  "id": "vcQvJWHIqjNsEdZ3",
  "tags": []
}