flujos_n8n/short_distance_narrative.json
{
  "name": "short_distance_narrative",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -720,
        -304
      ],
      "id": "69105124-d5c1-4b39-aeb7-ec29ac27d805",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "model": "qwen2.5:32b-instruct-q3_K_M",
        "options": {
          "temperature": 0.6,
          "topP": 0.9,
          "keepAlive": "30m",
          "lowVram": false,
          "numCtx": 4096,
          "numGpu": -1,
          "numPredict": 1200,
          "numThread": 6,
          "repeatPenalty": 1.15
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        256,
        384
      ],
      "id": "3cc72519-c324-4bb0-94d1-646421f16687",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "pme8Qn9prOFIVslx",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/home/node/.n8n-files/archivos/historias_generadas/{{$binary.data.fileName}}",
        "options": {
          "append": false
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        1344,
        -32
      ],
      "id": "07ccfc69-35e3-4066-a1aa-187da97d274e",
      "name": "Read/Write Files from Disk1"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "md_text",
        "options": {
          "fileName": "={{ $json.nombre_archivo }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1168,
        -32
      ],
      "id": "69729537-f84c-4df4-8e19-b35a1ffbba68",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "model": "gemma2:9b",
        "options": {
          "temperature": 0.5,
          "topP": 0.9,
          "lowVram": false,
          "numCtx": 8192,
          "numPredict": 1200,
          "repeatPenalty": 1.15
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        816,
        368
      ],
      "id": "3a4e58af-f7bd-414a-950a-80f91262670f",
      "name": "Ollama Chat Model2",
      "credentials": {
        "ollamaApi": {
          "id": "pme8Qn9prOFIVslx",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "69495e37-5ef3-4aa0-bbd1-ecce27e70256",
              "name": "story_prompt_file",
              "value": "el_otro_pueblo.md",
              "type": "string"
            },
            {
              "id": "908f88ca-74be-465e-9fd4-8a6ed99ca177",
              "name": "total_acts",
              "value": 5,
              "type": "number"
            },
            {
              "id": "0b0590f5-154b-4edc-be7c-96423749e534",
              "name": "system_prompt_file",
              "value": "system_prompt.md",
              "type": "string"
            },
            {
              "id": "0c767c02-590a-47ce-acc1-cf80330febf4",
              "name": "extract_prompt_file",
              "value": "extract_story_state.md",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -512,
        -304
      ],
      "id": "74dd07f1-73b2-40f7-b42e-5393b350da8f",
      "name": "valores_manuales"
    },
    {
      "parameters": {
        "fileSelector": "=/home/node/.n8n-files/archivos/prompts_generacion/{{ $json.system_prompt_file }}",
        "options": {
          "dataPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        16,
        -704
      ],
      "id": "8a6e9390-743f-4009-8ab8-d660b63dd207",
      "name": "read_system_prompt",
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "fileSelector": "=/home/node/.n8n-files/archivos/prompts_generacion/{{ $json.story_prompt_file }}",
        "options": {
          "dataPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        0,
        -544
      ],
      "id": "4fcae822-2fa5-48d9-950e-9d2f0cd93175",
      "name": "read_story_prompt",
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "messages": {
          "messageValues": [
            {
              "message": "={{ $('Loop Over Items').item.json.system_prompt }}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        272,
        192
      ],
      "id": "01ff7003-fed4-461f-8a28-1b16bff6c0a2",
      "name": "gen_act"
    },
    {
      "parameters": {
        "jsCode": "//const item = $input.first().json;\nconst data = $json;\n\nconst context = data.story_context;\nconst mission = data.act_mission;\nconst act_number = data.act_number;\nconst arcPhase = data.arc_phase;\n\nconst memory = data.accumulated_memory || \"\";\nconst summary = data.accumulated_summary|| \"\";\n\nlet prompt = \"\";\n\nprompt += \"CONTEXTO DEL RELATO\\n\";\nprompt += context + \"\\n\\n\";\n\n// resumen solo si existe\nif (summary) {\n  prompt += \"RESUMEN DEL ACTO ANTERIOR\\n\";\n  prompt += summary + \"\\n\\n\";\n}\n\n// memoria solo si existe\nif (memory) {\n  prompt += \"MEMORIA NARRATIVA\\n\";\n  prompt += memory + \"\\n\\n\";\n}\n\nprompt += \"FASE DEL ARCO NARRATIVO\\n\";\nprompt += arcPhase + \"\\n\\n\";\n\nprompt += \"MISIÓN DEL ACTO\\n\";\nprompt += mission + \"\\n\\n\";\n\nif (act_number > 1) {\n  // aquí agregamos la regla crítica del pipeline\n  prompt += `REGLAS DE CONTINUIDAD\\n\n 1. Usa el RESUMEN DEL ACTO ANTERIOR como punto de partida narrativo.\\n\n 2. El capítulo debe comenzar inmediatamente después de ese momento.\\n\n 3. Respeta la MEMORIA NARRATIVA: contiene hechos, personajes y lugares ya  establecidos.\\n\n 4. No contradigas ni cambies información almacenada en la memoria.\\n\n 5. No reinicies la historia ni repitas escenas ya narradas.\\n\n 6. Avanza el relato desde la última situación descrita en el resumen.\\n\n  `;\n}\n\nif (act_number === 1) {\n  prompt += `\nINICIO DE LA HISTORIA\\n\nEste es el primer capítulo.\\n\nNo existe un acto anterior.\\n\nComienza la narración desde el contexto inicial descrito arriba.\\n\n`;\n}\n\nprompt += \"Escribe el capítulo siguiendo todas las instrucciones anteriores.\";\n\nreturn [\n  {\n    json: {\n      ...data,\n      prompt\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        192
      ],
      "id": "9f9a2b3f-3d85-4c42-9da3-83126d04c62a",
      "name": "build_prompt"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst estado = $('build_data_items').first().json.extract_prompt;\n\nreturn items.map(item => {\n\n  const base = item.json.base_context;\n\n  return {\n    json: {\n      id_story: base.id_story,\n      story_name: base.story_name,\n\n      total_acts: base.total_acts,\n      act_number: item.json.act_number,\n      arc_phase: item.json.arc_phase,\n\n      act_mission: item.json.act_mission,\n\n      system_prompt: base.system_prompt,\n      extract_prompt: estado,\n      story_context: base.story_context,\n\n      accumulated_summary: \"\",\n      accumulated_memory: \"\"\n    }\n  };\n\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -704,
        -48
      ],
      "id": "9cf8bd54-6892-4286-87e0-82f1de590155",
      "name": "prepare_items"
    },
    {
      "parameters": {
        "batchSize": "=1",
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -368,
        -48
      ],
      "id": "8781aa37-60d7-41ee-86d6-e40028e791da",
      "name": "Loop Over Items",
      "executeOnce": false
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT  id_story, act_number, chapter\nFROM story_acts \nWHERE id_story = '{{ $('prepare_items').item.json.id_story }}' \nORDER BY act_number ASC;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        768,
        -32
      ],
      "id": "22020e60-8d58-4a3e-91f6-895ec83fce1a",
      "name": "select_all_acts",
      "credentials": {
        "postgres": {
          "id": "9PNsceb890e5B4Zn",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst storyId = items[0].json.id_story;\n\nlet md = \"# RELATO COMPLETO\\n\\n\";\n\nitems\n  .sort((a,b) => a.json.act_number - b.json.act_number)\n  .forEach(item => {\n\n    md += \"## ACTO \" + item.json.act_number + \"\\n\\n\";\n    md += item.json.chapter + \"\\n\\n---\\n\\n\";\n\n});\n\nreturn [{\n  json: {\n    md_text: md,\n    story_id: storyId,\n    nombre_archivo: \"relato_\" + storyId + \".md\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        -32
      ],
      "id": "eb35c902-32ed-4266-8ea7-2f0309886ae8",
      "name": "persiste_cinco_capitulos"
    },
    {
      "parameters": {
        "jsCode": "const base = $input.first().json;\nconst text = base.story_prompt;\n\n// 1 separar contexto y actos\nconst [contextPart, actsPart] = text.split(/\\n---\\n/);\n\n// 2 dividir actos por encabezado\nconst sections = actsPart.split(/^\\s*\\*\\*Acto\\s+/gm).slice(1);\n\nconst actos = sections.map(section => {\n\n  // extraer numero de acto\n  const numMatch = section.match(/^(\\d+)/);\n  const act_number = numMatch ? Number(numMatch[1]) : null;\n\n  // extraer fase narrativa entre parentesis\n  const phaseMatch = section.match(/\\((.*?)\\)/);\n  const arc_phase = phaseMatch ? phaseMatch[1].trim() : null;\n\n  // remover encabezado\n  const content = section\n    .replace(/^\\d+[^\\n]*\\n?/, \"\")\n    .trim();\n\n  return {\n    json: {\n      act_number,\n      arc_phase,\n      act_mission: content,\n      base_context: {\n        id_story: base.id_story,\n        story_name: base.story_name,\n        total_acts: base.total_acts,\n        system_prompt: base.system_prompt,\n        story_context: contextPart.trim()\n      }\n    }\n  };\n\n});\n\nreturn actos;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        688,
        -288
      ],
      "id": "0b9f2fb1-d153-4b87-b99d-4385701926fe",
      "name": "parse_mission_acts"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO story_acts\n(\nid_story,\nact_number,\narc_phase,\nchapter,\nsummary,\nmemory\n)\nVALUES\n(\n'{{ $('build_extract_prompt').item.json.id_story }}',\n{{ $('build_extract_prompt').item.json.act_number }},\n'{{ $('build_extract_prompt').item.json.arc_phase }}',\n'{{$node[\"gen_act\"].json.text}}',\n'{{ JSON.parse($node[\"extract_story_state\"].json.text).summary }}',\n'{{ JSON.stringify(JSON.parse($node[\"extract_story_state\"].json.text).memory) }}'\n);",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1216,
        368
      ],
      "id": "95be0635-fcef-455a-a68a-2a9a4e87d45f",
      "name": "save_act",
      "credentials": {
        "postgres": {
          "id": "9PNsceb890e5B4Zn",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT\n  s.id_story,\n  COALESCE(a.summary, '') AS accumulated_summary,\n  COALESCE(a.memory, '') AS accumulated_memory\nFROM stories s\nLEFT JOIN (\n  SELECT\n    id_story,\n    summary,\n    memory\n  FROM story_acts\n  WHERE id_story = '{{ $json.id_story }}'\n  ORDER BY act_number DESC\n  LIMIT 1\n) a\nON s.id_story = a.id_story\nWHERE s.id_story = '{{ $json.id_story }}'\nLIMIT 1;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -336,
        304
      ],
      "id": "f50857c2-bf25-4981-8288-558f41e71941",
      "name": "get_story_state",
      "credentials": {
        "postgres": {
          "id": "9PNsceb890e5B4Zn",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO stories (\n  id_story,\n  story_name,\n  total_acts,\n  created_at\n)\nVALUES (\n  '{{ $json.id_story }}',\n  '{{ $json.story_name }}',\n  {{ $json.total_acts }},\n  now()\n)\nON CONFLICT (id_story) DO NOTHING\nRETURNING *;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -656,
        432
      ],
      "id": "03f0535f-551b-4e37-973d-3667ebd0c159",
      "name": "init_story",
      "credentials": {
        "postgres": {
          "id": "9PNsceb890e5B4Zn",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "687219c9-fcdb-44f9-8943-80ae03c23575",
              "name": "id_story",
              "value": "={{ $json.story_prompt_file.toLowerCase().replaceAll(\" \",\"_\").replace(/\\.md$/, \"\") + \"_\" + Date.now() }}",
              "type": "string"
            },
            {
              "id": "300888c4-14d2-4529-afdf-f03eb0baf3bd",
              "name": "story_name",
              "value": "=={{ \n  $json.story_prompt_file\n    .replace('.md','')\n    .replaceAll('_',' ')\n    .replace(/^./, c => c.toUpperCase())\n}}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -320,
        -304
      ],
      "id": "f07d2c61-a5aa-410a-b097-46841b28ae97",
      "name": "valores_calculados"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        592,
        -32
      ],
      "id": "5aecbed2-624b-40f7-b4a8-42e33e44d08e",
      "name": "Limit1"
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        320,
        -336
      ],
      "id": "d0785344-319f-491c-9cf1-f287c911dddf",
      "name": "Merge_001",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nlet sistema = \"\";\nlet historia = \"\";\nlet estados = \"\";\nlet config = {};\n\n// 1️⃣ obtener configuración primero\nfor (const item of items) {\n  if (item.json && item.json.total_acts) {\n    config = item.json;\n    break;\n  }\n}\n\n// 2️⃣ procesar archivos binarios\nfor (let i = 0; i < items.length; i++) {\n\n  const item = items[i];\n\n  if (item.binary && item.binary.data) {\n\n    const fileName = item.binary.data.fileName || \"\";\n\n    const buffer = await this.helpers.getBinaryDataBuffer(i, \"data\");\n    const text = buffer.toString(\"utf8\").trim();\n\n    if (fileName === config.system_prompt_file) {\n      sistema = text;\n      continue;\n    }\n\n    if (fileName === config.story_prompt_file) {\n      historia = text;\n      continue;\n    }\n\n    if (fileName === config.extract_prompt_file) {\n      estados = text;\n      continue;\n    }\n\n  }\n}\n\nreturn [{\n  json: {\n    id_story: config.id_story,\n    story_name: config.story_name,\n    total_acts: config.total_acts,\n    system_prompt: sistema,\n    story_prompt: historia,\n    extract_prompt: estados,\n    accumulated_summary: \"\",\n    accumulated_memory: \"\"\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        -288
      ],
      "id": "af2de0e9-cf7c-42ce-9d18-63014eee69ba",
      "name": "build_data_items"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.limit",
      "typeVersion": 1,
      "position": [
        -672,
        192
      ],
      "id": "f8f0719c-38c5-4037-a9fe-1ece4b5a970c",
      "name": "Limit"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        -96,
        192
      ],
      "id": "6a0457d7-7980-42f4-a856-d3fa6992b8e3",
      "name": "Merge"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{$json.extract_prompt}}",
        "hasOutputParser": true,
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        848,
        192
      ],
      "id": "d3cfb4d1-9f3c-46d2-a05a-e55b7f601352",
      "name": "extract_story_state"
    },
    {
      "parameters": {
        "fileSelector": "=/home/node/.n8n-files/archivos/prompts_generacion/{{ $json.extract_prompt_file }}",
        "options": {
          "dataPropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        48,
        -384
      ],
      "id": "89b63a7d-6e65-46da-b679-39f9fad617b3",
      "name": "read_extract_prompt",
      "alwaysOutputData": false,
      "executeOnce": false
    },
    {
      "parameters": {
        "jsCode": "//const template = $json.extract_prompt || \"\";\nconst template = $('build_prompt').first().json;\n\nconst chapter = $node[\"gen_act\"].json.text || \"\";\n\nconst context = $json.story_context || \"\";\n\nconst prompt = template.extract_prompt\n  .replace(\"{{story_context}}\", context)\n  .replace(\"{{chapter}}\", chapter);\n\nreturn [\n{\n  json: {\n    ...template,\n    extract_prompt: prompt\n  }\n}\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        192
      ],
      "id": "2e1b024e-87e2-4ef1-9383-d69d9cd001bb",
      "name": "build_extract_prompt"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "valores_manuales",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "gen_act",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "extract_story_state",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "valores_manuales": {
      "main": [
        [
          {
            "node": "valores_calculados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "read_system_prompt": {
      "main": [
        [
          {
            "node": "Merge_001",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "read_story_prompt": {
      "main": [
        [
          {
            "node": "Merge_001",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "gen_act": {
      "main": [
        [
          {
            "node": "build_extract_prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "build_prompt": {
      "main": [
        [
          {
            "node": "gen_act",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "prepare_items": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "Limit",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Limit1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "get_story_state",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "select_all_acts": {
      "main": [
        [
          {
            "node": "persiste_cinco_capitulos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "persiste_cinco_capitulos": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "parse_mission_acts": {
      "main": [
        [
          {
            "node": "prepare_items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "save_act": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "get_story_state": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "init_story": {
      "main": [
        []
      ]
    },
    "valores_calculados": {
      "main": [
        [
          {
            "node": "read_system_prompt",
            "type": "main",
            "index": 0
          },
          {
            "node": "read_story_prompt",
            "type": "main",
            "index": 0
          },
          {
            "node": "read_extract_prompt",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge_001",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Limit1": {
      "main": [
        [
          {
            "node": "select_all_acts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge_001": {
      "main": [
        [
          {
            "node": "build_data_items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "build_data_items": {
      "main": [
        [
          {
            "node": "parse_mission_acts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Limit": {
      "main": [
        [
          {
            "node": "init_story",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "build_prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "extract_story_state": {
      "main": [
        [
          {
            "node": "save_act",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "read_extract_prompt": {
      "main": [
        [
          {
            "node": "Merge_001",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "build_extract_prompt": {
      "main": [
        [
          {
            "node": "extract_story_state",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "fa4c12d2-b9d5-4911-834a-e52926c3a0a6",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1a272ffd7ba91a5e4b195eedad20bb200dae7e71c15e5f43a3efc2f9e36224ac"
  },
  "id": "vcQvJWHIqjNsEdZ3",
  "tags": []
}